<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_Wprest>
            <version>0.1.2</version>
        </Stuntcoders_Wprest>
    </modules>
    <global>
        <models>
            <stuntcoders_wprest>
                <class>Stuntcoders_Wprest_Model</class>
                <resourceModel>stuntcoders_wprest_resource</resourceModel>
            </stuntcoders_wprest>
            <stuntcoders_wprest_resource>
                <class>Stuntcoders_Wprest_Model_Resource</class>
            </stuntcoders_wprest_resource>
            <sitemap>
                <rewrite>
                    <sitemap>Stuntcoders_Wprest_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <stuntcoders_wprest>
                <class>Stuntcoders_Wprest_Block</class>
            </stuntcoders_wprest>
        </blocks>
        <helpers>
            <stuntcoders_wprest>
                <class>Stuntcoders_Wprest_Helper</class>
            </stuntcoders_wprest>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <stuntcoders_wprest_category>
                        <class>Stuntcoders_Wprest_Controller_Wp_Category</class>
                        <method>initControllerRouters</method>
                    </stuntcoders_wprest_category>
                </observers>
            </controller_front_init_routers>
            <controller_front_init_routers>
                <observers>
                    <stuntcoders_wprest_post>
                        <class>Stuntcoders_Wprest_Controller_Wp_Post</class>
                        <method>initControllerRouters</method>
                    </stuntcoders_wprest_post>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_wprest>
                                            <title>WordPress Configuration</title>
                                        </stuntcoders_wprest>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <stuntcoders_wprest>
                <use>standard</use>
                <args>
                    <module>Stuntcoders_Wprest</module>
                    <frontName>stuntcoders_wprest</frontName>
                </args>
            </stuntcoders_wprest>
        </routers>
    </frontend>
    <default>
        <stuntcoders_wprest>
            <wordpress_options>
                <post_types>post,page</post_types>
                <homepage>site</homepage>
            </wordpress_options>
        </stuntcoders_wprest>
    </default>
</config>
