<?xml version="1.0"?>
<config>
    <modules>
        <StuntCoders_WpRest>
            <version>0.1.4</version>
        </StuntCoders_WpRest>
    </modules>
    <global>
        <cache>
            <types>
                <stuntcoders_wprest translate="label,description" module="wprest">
                    <label>Wordpress REST API</label>
                    <description>REST API calls to Wordpress Installation</description>
                    <tags>STUNTCODERS_WPREST_API_CACHE</tags>
                </stuntcoders_wprest>
            </types>
        </cache>
        <models>
            <stuntcoders_wprest>
                <class>StuntCoders_WpRest_Model</class>
                <resourceModel>stuntcoders_wprest_resource</resourceModel>
            </stuntcoders_wprest>
            <stuntcoders_wprest_resource>
                <class>StuntCoders_WpRest_Model_Resource</class>
            </stuntcoders_wprest_resource>
            <sitemap>
                <rewrite>
                    <sitemap>StuntCoders_WpRest_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <stuntcoders_wprest>
                <class>StuntCoders_WpRest_Block</class>
            </stuntcoders_wprest>
        </blocks>
        <helpers>
            <stuntcoders_wprest>
                <class>StuntCoders_WpRest_Helper</class>
            </stuntcoders_wprest>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <stuntcoders_wprest_category>
                        <class>StuntCoders_WpRest_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </stuntcoders_wprest_category>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <stuntcoders_wprest>
                <use>standard</use>
                <args>
                    <module>StuntCoders_WpRest</module>
                    <frontName>stuntcoders_wprest</frontName>
                </args>
            </stuntcoders_wprest>
        </routers>
        <layout>
            <updates>
                <stuntcoders_wprest>
                    <file>stuntcoders_wprest.xml</file>
                </stuntcoders_wprest>
            </updates>
        </layout>
    </frontend>
</config>
